html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;

}

html {


    background-color: rgb(234, 232, 232);

    background: linear-gradient(to top, rgba(54, 96, 96, 0.483), rgb(66, 79, 74)),
        url(../imgs/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;

}

body {

    border-radius: 20px;


    width: 85%;
    margin: 0 auto;

    padding: 20px;
    margin-top: 50px;


}

/* font class*/
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;

}


header {
    /* background-color: rgb(41, 39, 39); */
    margin: 0;
    padding: 0;

    width: 85%;
    margin: 0 auto;
    padding: 20px;

}

.logo {
    width: 200px;
    height: 85px;
    position: absolute;
    top: 60px;
    left: 802px;
}

header h1 {
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 10px;
    color: rgb(4, 104, 54);

    color: white;
    position: relative;
    top: 50px;

}



.total {
    text-align: right;
    color: white;
    /* padding: 80px; */
    position: relative;
    top: 90px;
    right: 290px;
    color: green;
    color: white;
}

.workspace {
    display: flex;
    color: white;
    border-radius: 20px;


}

.left-sidebar {
    width: 15%;
    /* background-color: red; */
    /* border: 1px solid black; */
    padding: 30px;
}

.modalAccount {
    padding: 20px;
    border: 1px solid rgba(35, 244, 136, 0.165);
    margin-top: 20px;
    display: none;
    background-color: rgba(81, 81, 81, 0.561);
    border-radius: 20px;
    background-color: rgba(70, 84, 75, 0.485);

}

.modal input {
    width: 70%;
}

input[type=button] {
    border: 1px solid black;
    padding: 10px;
}


/* existing accounts */
.existingAccountHeading {
    display: none;
}

.accountEntry {
    color: rgb(253, 255, 253);
}

.transactions {

    width: 60%;
    /* border: 1px solid black; */
    padding: 50px;
    border-radius: 20px;
    background-color: rgba(70, 84, 75, 0.485);
    border: 1px solid rgba(35, 244, 136, 0.165);

}


.transactions-entries {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    width: 80%;
}

.transactions-entries h2 {
    text-align: center;

    font-weight: 300;

}

.transaction {
    /* background-color: rgb(71, 138, 255); */
    /* color: white; */
    width: 100%;
    /* text-align: center; */
    /* padding: 5px; */
    /* margin: 10px; */
    /* background-color: black; */
    /* color: white; */
    /* padding: 5px; */
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px 0;
    background-color: rgba(45, 45, 45, 0.433);
    box-shadow: 8px 14px 48px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 14px 48px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 14px 48px -5px rgba(0, 0, 0, 0.75);

    background-color: rgba(70, 84, 75, 0.587);
}


.invalid-transaction {



    width: 100%;
    border: 1px solid rgb(209, 117, 25);
    border-radius: 20px;
    margin: 10px 0;
    box-shadow: 8px 14px 48px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 14px 48px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 14px 48px -5px rgba(0, 0, 0, 0.75);

    background-color: rgba(207, 82, 77, 0.587);
    padding: 5px;
    width: 60%;
    text-align: center;


}

.btn {
    padding: 10px;
    background-color: rgb(9, 109, 97);
    color: white;
    border-radius: 8.5px;
}

.addTransactionBtn {
    margin-top: 20px;
}

.span {
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    /* right: 10px; */
}

.category {
    /* background-color: rgb(9, 36, 145); */
    background-color: rgb(1, 44, 79);
    color: white;

}

.transaction p {
    padding: 10px;
    font-size: 20px;
    /* color: white; */
}


.amount {
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
    margin-left: 5px;
    border-radius: 10px;
    background-color: rgb(55, 55, 55);
    color: white;
    background-color: white;
    background-color: rgb(117, 158, 155);


}

.income {
    background-color: rgb(9, 109, 97);
    color: white;
}

.account {
    /* background-color: rgb(1, 17, 79); */
    background-color: rgb(9, 36, 145);
    background-color: rgb(1, 94, 120);
}

.expense {
    background-color: tomato;
    color: white;
}

/* modal modalTransaction */
.modalIncome,
.modalExpense {
    position: absolute;
    top: 40%;
    background-color: rgba(66, 81, 71, 0.728);
    padding: 40px;
    left: 40%;
    display: none;
    color: white;
    box-shadow: 8px 14px 48px -5px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 14px 48px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 14px 48px -5px rgba(0, 0, 0, 0.75);
    border-radius: 8.5px;
    border: 1px solid rgba(35, 244, 136, 0.165);
}

input,
select {
    padding: 2px;
    width: 80%;
}



/* existing account */
.accountAmount,
.totalAmount,
.euro {

    font-weight: bold;
}